# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
node_modules
artifacts
cache
gasreport-*
.env
*.DS_Store
node_modules
build
forge-cache
out
.env.org